# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite3

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
media/
staticfiles/

# IDEs e editores
.vscode/
.idea/
*.swp

# Ambiente virtual
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# Dependências
*.egg-info/
.eggs/
dist/
build/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Arquivos de cache do pip
pip-log.
